# Lists

- Ordered
- Mutable (Changeable)
- Can contain mixed types
- written as a list of comma-separated values (items) between square brackets.

In [1]:
list1 = [1, 2, 3, 4, 5 ]
list2 = ["a", "b", "c", "d"]
list3 = ['physics', 'chemistry', 1997, 2000]

In [2]:
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
['physics', 'chemistry', 1997, 2000]

#### Indexing of lists

In [3]:
print(list1[2])
print(list2[2])
print(list3[2])

3
c
1997

#### Updating of lists

In [4]:
list1[2] = 8
list2[2] = "e"
list3[2] = "Mathematics"

In [5]:
print(list1)
print(list2)
print(list3)

[1, 2, 8, 4, 5]
['a', 'b', 'e', 'd']
['physics', 'chemistry', 'Mathematics', 2000]

#### Delete List Elements

In [6]:
del list3[3]

In [7]:
print(list3)

['physics', 'chemistry', 'Mathematics']

####  List Operations

In [8]:
print(list1 + list2)    # "+" operator concatenates lists and not add list elements as the list can contain any datatypes
print(list1 * 2)
print(list2 * 2)

[1, 2, 8, 4, 5, 'a', 'b', 'e', 'd']
[1, 2, 8, 4, 5, 1, 2, 8, 4, 5]
['a', 'b', 'e', 'd', 'a', 'b', 'e', 'd']

In [9]:
# Following operations cannot be done on lists

# print(list1-list2)
# print(list1*list2)
# print(list1/list2)

#### Lists Function

In [10]:
list5 = [1,2,3,4,5,6,7,8,9,10]
print(list5)
print(len(list5))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

- append

In [11]:
list5.append('Ashu')
list5.append(8)
list5.append("sagar")
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Ashu', 8, 'sagar']

- insert

In [12]:
list5.insert(5,"A")
print(list5)

[1, 2, 3, 4, 5, 'A', 6, 7, 8, 9, 10, 'Ashu', 8, 'sagar']

- remove

In [13]:
list5.remove(5)
print(list5)

[1, 2, 3, 4, 'A', 6, 7, 8, 9, 10, 'Ashu', 8, 'sagar']

In [14]:
list5.remove("Ashu")
print(list5)

[1, 2, 3, 4, 'A', 6, 7, 8, 9, 10, 8, 'sagar']

- sort

In [15]:
list6 = [9,8,7,6,5,4,3,2,1]

list6.sort()     # Ascending order
print(list6)

list6.sort(reverse=True)  # Descending order
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

- extend

In [16]:
list7 = ["Hello","Programmer"]
list6.extend(list7)
print(list6)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 'Hello', 'Programmer']

- clear

In [17]:
print(list6)
list6.clear()
print(list6)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 'Hello', 'Programmer']
[]

# String

In [18]:
str1 = "Sagar Dhandare"
print(str1)

Sagar Dhandare

#### Indexing in String

In [19]:
print(str1[0])
print(str1[6])
print(str1[-1])
print(str1[-2])

S
D
e
r

#### String Slicing

In [20]:
print(str1)
print(str1[:8])
print(str1[6:])

Sagar Dhandare
Sagar Dh
Dhandare

#### String Operations

In [21]:
str1 = "First String"
str2 = "Second String"
print(str1+str2)

First StringSecond String

In [22]:
str1 = "First String"
str2 = "Second String"
print(str1 + " " + str2)

First String Second String

In [23]:
print(str1*3)

First StringFirst StringFirst String

In [24]:
# Following operations cannot be done on Strings


# print(str1-str2) 
# print(str1*str2) 
# print(str1/str2)

#### String Formatting

In [25]:
num1 = 14
num2 = 8

In [26]:
print("Value of Num1: {0}".format(num1))

Value of Num1: 14

In [27]:
print("Value of Num2: {0}".format(num2))

Value of Num2: 8

In [28]:
print("Value of Num1: {0} and Num2: {1}".format(num1,num2))

Value of Num1: 14 and Num2: 8

In [29]:
print("Value of Num1: {1} and Num2: {0}".format(num1,num2))

Value of Num1: 8 and Num2: 14

In [30]:
print("Value of Num1: {n1} and Num2: {n2}".format(n1 = num1,n2 = num2))

Value of Num1: 14 and Num2: 8

#### String Functions

- startswith , endswith

In [31]:
str1 = "Cat Mango Dog Apple"
print(str1)

Cat Mango Dog Apple

In [32]:
print(str1.startswith("Cat"))
print(str1.startswith("Cat "))
print(str1.startswith("Cat a"))

True
True
False

In [33]:
print(str1.endswith("Apple"))
print(str1.endswith("Apple "))

True
False

In [34]:
print(str1.startswith("d Apple"))

False

In [35]:
if str1.startswith("Cat"):
    print("Starts")
else:
    print("Don't Starts")

Starts

In [36]:
if str1.startswith("cat"):
    print("Starts")
else:
    print("Don't Starts")

Don't Starts

In [37]:
print(str1.startswith("Cat",4))     # If we want to check if Cat is at index 4 or not:
print(str1.startswith("Mang",4))

False
True

In [38]:
str1[4:]

'Mango Dog Apple'

In [39]:
str1[4:9]

'Mango'

In [40]:
print(str1.startswith("Mango",4,9))
print(str1.startswith("Cat",4))

True
False

In [41]:
str1[-9:-4]

'Dog A'

In [42]:
print(str1.endswith('Dog A',-9,-4))

True

In [43]:
print(str1.endswith('Dog ',-9,-4))

False

- strip ,lstrip, rstrip

In [44]:
str2 = "0000000000000Cat Mango Dog Apple111111111111111111111"
print(str2)

0000000000000Cat Mango Dog Apple111111111111111111111

In [45]:
print(str2.strip('0'))
print(str2.lstrip('0'))
print(str2.rstrip('1'))
print(str2.strip('0').rstrip('1'))

Cat Mango Dog Apple111111111111111111111
Cat Mango Dog Apple111111111111111111111
0000000000000Cat Mango Dog Apple
Cat Mango Dog Apple

In [46]:
str2 = "                       Cat Mango Dog Apple             "
print(str2)
print(str2.strip())    # By Default, strip() removes spaces

                       Cat Mango Dog Apple
Cat Mango Dog Apple

In [47]:
str2 = "0000000000000Cat Mango Dog Apple00000000000000000"
print(str2)
print(str2.strip('k'))      # If we input any other character, it doesn't work

0000000000000Cat Mango Dog Apple00000000000000000
0000000000000Cat Mango Dog Apple00000000000000000

- isupper(), islower(), upper(), lower() , swapcase()

In [48]:
str1 = "HELLO"
str2 = "hello"
str3 = "HellO"
print(str1.isupper())
print(str2.isupper())
print(str3.isupper())

print(str1.islower())
print(str2.islower())
print(str3.islower())

True
False
False
False
True
False

In [49]:
if str1.isupper():
    print('In Upper Case')
else:
    print('In Lower Case')

In Upper Case

In [50]:
if str2.isupper():
    print('In Upper Case')
else:
    print('In Lower Case')

In Lower Case

In [51]:
if str3.isupper():
    print('In Upper Case')
else:
    print('In Lower Case')

In Lower Case

In [52]:
if str1.islower():
    print('In Lower Case')
else:
    print('In Upper Case')

In Upper Case

In [53]:
if str2.islower():
    print('In Lower Case')
else:
    print('In Upper Case')

In Lower Case

In [54]:
if str3.islower():
    print('In Lower Case')
else:
    print('In Upper Case')

In Upper Case

In [55]:
print(str1)
print(str1.lower())

HELLO
hello

In [56]:
print(str2)
print(str2.upper())

hello
HELLO

In [57]:
print(str3)
print(str3.upper())
print(str3.lower())

HellO
HELLO
hello

In [58]:
print(str1)
print(str1.swapcase())
print(str2)
print(str2.swapcase())
print(str3)
print(str3.swapcase())

HELLO
hello
hello
HELLO
HellO
hELLo

- replace(), join(), split()

In [59]:
str1 = 'I like Python Programming'
print(str1)
str1 = str1.replace('like','love')
print(str1)

I like Python Programming
I love Python Programming

In [60]:
str2 = 'I like Programming. I like Coding. I like Sleeping'
str3 = str2.replace('I like','I Love',2)
print(str3)

I Love Programming. I Love Coding. I like Sleeping

In [61]:
sep = '-'
date = sep.join(('08','11','1997'))
print(date)

sep = '/'
date = sep.join(('14','02','1998'))
print(date)

08-11-1997
14/02/1998

In [62]:
sep = 'and'
people = sep.join(('Sagar','Ashu','Nam'))
print(people)

sep = ' and '
people = sep.join(('Sagar','Ashu','Nam'))
print(people)

SagarandAshuandNam
Sagar and Ashu and Nam

In [63]:
animal_str = "Cat,Dog,Giraffee,Rat,Bat"
animals = animal_str.split(',')       #split returns a List
print(animals)
print(type(animals))
print("Number of Elements:",end=" ")
print(len(animals))

['Cat', 'Dog', 'Giraffee', 'Rat', 'Bat']
<class 'list'>
Number of Elements: 5

In [64]:
animals = animal_str.split(',',2)
print(animals)
print(type(animals))
print("Number of Elements:",end=" ")
print(len(animals))

['Cat', 'Dog', 'Giraffee,Rat,Bat']
<class 'list'>
Number of Elements: 3