## Dictionary

- {key:value} pair
- Unordered in Nature
- Mutable (can be changed)

In [1]:
dict1 = {'Jan':31,'Feb':28,'Mar':30}
print(dict1)

{'Jan': 31, 'Feb': 28, 'Mar': 30}

In [2]:
#Accessing Values

print(dict1["Jan"])

31

#### Updating

In [3]:
dict1 = {'Jan':31,'Feb':28,'Mar':30}
print(dict1)
dict1['Feb'] = 29
print(dict1)
dict1['April'] = 30
print(dict1)

{'Jan': 31, 'Feb': 28, 'Mar': 30}
{'Jan': 31, 'Feb': 29, 'Mar': 30}
{'Jan': 31, 'Feb': 29, 'Mar': 30, 'April': 30}

- Keys are Unique and Immutable

In [4]:
dict1 = {'Jan':31,'Feb':28,'Mar':30,'Mar':31}
print(dict1)
# We will get last updated value for multiple keys

{'Jan': 31, 'Feb': 28, 'Mar': 31}

In [5]:
dict2 = {1:'Jan',2:'Feb',3:'Mar'}
print(dict2)

{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [6]:
#dict3 = {[1,2,3]:'Jan'}
dict3 = {'Jan':[1,2,3]}
dict3

{'Jan': [1, 2, 3]}

#### Dictinary Functions

In [7]:
dict_n = {'Jan':31,'Feb':28,'Mar':30,'Mar':31}
print(dict_n)
print(len(dict_n))

{'Jan': 31, 'Feb': 28, 'Mar': 31}
3

- Accessing Elements based on Keys (Method-2)<br>
To avoid KeyError, we can use a fuction to access dictionary elements called get()

In [8]:
print(dict_n)
print(dict_n.get('Jan'))
print(dict_n.get('Feb'))
print(dict_n.get('Mar'))
print(dict_n.get('Jan',31))
print(dict_n.get('April'))
print(dict_n.get('April','NA'))

{'Jan': 31, 'Feb': 28, 'Mar': 31}
31
28
31
31
None
NA

In [9]:
print(dict_n)
print(dict_n.items())
print(type(dict_n.items()))
print(list(dict_n.items()))

{'Jan': 31, 'Feb': 28, 'Mar': 31}
dict_items([('Jan', 31), ('Feb', 28), ('Mar', 31)])
<class 'dict_items'>
[('Jan', 31), ('Feb', 28), ('Mar', 31)]

In [10]:
print(dict_n)
print(dict_n.keys())
print(type(dict_n.keys()))
print(list(dict_n.keys()))

{'Jan': 31, 'Feb': 28, 'Mar': 31}
dict_keys(['Jan', 'Feb', 'Mar'])
<class 'dict_keys'>
['Jan', 'Feb', 'Mar']

In [11]:
print(dict_n)
print(dict_n.values())
print(type(dict_n.values()))
print(list(dict_n.values()))

{'Jan': 31, 'Feb': 28, 'Mar': 31}
dict_values([31, 28, 31])
<class 'dict_values'>
[31, 28, 31]

.item() , .keys(), .values() convert unordered Dictionary into Ordered List.

#### Deletion in Dictionary

We cannot only delete a key or value singly.<br>Both key,value pair are deleted from a dictionary.

In [12]:
# Method - 1
dict_n = {'Jan':31,'Feb':28,'Mar':30,'Mar':31}
print(dict_n)
dict_n.pop('Jan')
print(dict_n)

{'Jan': 31, 'Feb': 28, 'Mar': 31}
{'Feb': 28, 'Mar': 31}

In [13]:
# Method - 2
print(dict_n)
del dict_n['Mar']
print(dict_n)

{'Feb': 28, 'Mar': 31}
{'Feb': 28}

#### Updating Dictionary using another Dictionary

In [14]:
print(dict_n)
dict_n2 = {'Jan':31,'Mar':31}
print(dict_n2)
dict_n.update(dict_n2)
print(dict_n)

{'Feb': 28}
{'Jan': 31, 'Mar': 31}
{'Feb': 28, 'Jan': 31, 'Mar': 31}

#### Clearing Ditionary

In [15]:
print(dict_n)
dict_n.clear()
print(dict_n)

{'Feb': 28, 'Jan': 31, 'Mar': 31}
{}

# Tuple

- Ordered 
- Immutable (Non- Changable)
- Mixed Datatypes
- Written as (, , ,)

In [16]:
t1 = (5,2.0,'Sagar','A')
print(t1)

(5, 2.0, 'Sagar', 'A')

In [17]:
print(type(t1))

<class 'tuple'>

#### Accessing and Slicing Tuple

In [18]:
print(t1)
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[0:3])
print(t1[1:4:2])

(5, 2.0, 'Sagar', 'A')
5
2.0
Sagar
(5, 2.0, 'Sagar')
(2.0, 'A')

- We cannot change values in tuple because it is immutable that Non Changable.

In [19]:
# t1.append(6)    # Can't Work here
# t1[0] = 10

- Hence above functions and insert,update,remove doesn't work here